footer {
  padding-top: 30px;
}
blockquote {
  padding: 20px;
}
.blog-content {
  text-align: left;
}
.blog-post-meta {
  font-style: italic;
}
.blog-post-title {
  padding-top: 10px;
}
.blog-code-content {
  align-items: left;
  text-align: left;
}
.blog-indent {
  padding-top: 10px;
}
.blog-code {
  text-align: left;
}
.blog-img {
  width: 50%;
  max-height: none;
  max-width: none;
  margin: 30px;
}
